
/*RESPONSIVE MENU XS*/
.hidden{
  display: none;
}
.displayed{
  display: block;
}
.remove-margin-bottom{
   margin-bottom:0vh; 
}

//highlight link class
.highlight-link{
  width: 80vw;
  padding: .8em 0em .8em 0em;
  margin-bottom: 1em;
  background-color: darken(map-get($colors,font-color),40%);
  color: darken(map-get($colors,accent-color),1%);
  border-bottom: 1px  map-get($colors,accent-color) solid;
  transition: all 300ms ease-out;
}
/*NAV*/
.header{
  width: 100%;
  background-color: map-get($colors,primary-color);
  height: 2.8em;
  margin-bottom: 1em;

}
.fullscreen-menu {
  height: 100vh;
  padding-bottom: 50vh;
  background-color: darken(map-get($colors, bg-color),3%);
  animation : show-menu .3s ease-in-out forwards;
  nav{
    height: 100vh;
    padding-top: 30vh;
  }
  
  .close-icon {
    // transform: scale(.5);
    perspective: 1000px;
  
    line {
      &:nth-of-type(1) {
  
        transform-origin: center bottom;
        animation: menu-first-bar-animate 100ms ease forwards;
        animation-delay: 100ms;
      }
  
      &:nth-of-type(2) {
        // transform-origin:center bottom  ;
        // animation: menu-first-bar-animate .8s ease forwards ; 
        // animation-delay:300ms;
        display: none;
      }
  
      &:nth-of-type(3) {
        transform-origin: center bottom;
        animation: menu-second-bar-animate 100ms ease forwards;
        animation-delay: 100ms;
      }
    }
  }
  
}
.header__nav{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;   
  .header__nav__item {
    text-align: center;
    flex:0 0 90%;
    display: flex;
    align-items: center;
    justify-content: center;    
    list-style: none;          
    a{
      width: 80vw;  
      background-color: lighten(map-get($colors,accent-color),2%);
      padding: .8em 0em .8em 0em;
      margin-bottom: 1em;
      transition: all 300ms ease-out;  
      color:darken(map-get($colors,primary-color),20%);
      border: none;
      transition: all 300ms ease-in-out;    
      text-decoration: none;  
      &:hover,
      &:active,
      &:focus{
        background-color: darken(map-get($colors,accent-color),20%);
        color: darken(map-get($colors,font-color),40%);
        transition: all 300ms ease-out;
      }  
    }  
      
    }
  
}


  
  .menu{
    width: 5em;
    position: fixed;
    right: -.5em;
    top:0em;    
    z-index: 20;
    transform: scale(.6);
    li{
      margin-left:  auto;
    }
    
  }
 


.logo{
  width: 5em;
  transform:scale(.6);
  margin-right:  auto;
  position: fixed;
  left:-.3em;
  top:-.1em;
  z-index: 12;
}


/*
  ABOUT
*/
.about{
  height: 90vh;

  
  width: 100%;
  
  .grid__row{
    justify-content: center;
    // padding-top: 3em;
  }
  //responsivness on xsmall screens
  .about__grid__item-xs-4{

      flex: 0 1 33.33%;
    
        max-width: 3em;
        max-height: 4em;
        margin-bottom: 1em;
       
        
      
      
    
  }
  .about__grid__item-xs-12{
    // padding: .5em .5em .5em .5em;
   
    flex: 0 0 100%;
    
    
  }
  .about__text{
    display: flex;
    flex-flow: row wrap;
    
    align-content: center;
    align-items: center;
    .about__text__item-xs-12{
      flex: 0 0 90%;
 
    }
    h3{
      margin-bottom: .2em;
    }
    p{
      // text-align: center;
      flex: 0 0 100%;
    }
    .line-1,.line-2,.line-3,.line-4,.line-5,.line-6,.line-7,.about__text__header{
      
      position: relative;
      // border-right:2px solid rgba(255,255,255,.75);
      white-space: nowrap;
      text-align: center;
      font-size: map-get($font-sizes,font-size-xs);
      line-height: 2.8em;
      margin: 0 auto;
      
      overflow: hidden;
 
    }
    .animate-typewriter-0{
      animation : typewriter 1s steps(40) 1s 1 normal both;
 
    }
    .animate-typewriter-1{
      animation : typewriter 2s steps(190) 3s 1 normal both;

    }
    .animate-typewriter-2{
      animation : typewriter 2s steps(190) 5s 1 normal both;

    }
    .animate-typewriter-3{
      animation : typewriter 2s steps(190) 7s 1 normal both;

    }
    .animate-typewriter-4{
      animation : typewriter 2s steps(190) 9s 1 normal both;

    }
    .animate-typewriter-5{
      animation : typewriter 2s steps(190) 11s 1 normal both;

    }
    .animate-typewriter-6{
      animation : typewriter 2s steps(190) 13s 1 normal both;

    }
    .animate-typewriter-7{
      animation : typewriter 2s steps(190) 15s 1 normal both;

    }
    
    text-align: justify;
    padding:.5em .3em 2em .3em;
    font-weight: 100;
    // text-align: center;
    font-size:map-get($font-sizes,font-size-xs);
    line-height: 1.4em;
    a{
      text-decoration: none;
      color: darken(map-get($colors,accent-color),30%);
      position: relative;
      &::before{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0em;
        background-color: darken(map-get($colors,primary-color),20%);
        left:-.1em;
      }
      &:hover{
      color:darken(map-get($colors,font-color),40%);
      transition:color 300ms ease-in-out;         
      }
    }
  }
  .about__img {
    img{
      width: 100%;
      border-radius: 70%;
    }    
  }
}
/*
  WORK
*/
.header__grid__row{
  display: flex;
  flex-flow: row wrap;
  perspective: 1000px;
  height: 2.8em;
  
  margin-left: 0em;
  margin-right: 0em;
  position: sticky;
  top: 0;
  margin-bottom: 1em;
  margin-top: 1em;
  z-index: 10;
  .section__h3{
    text-transform: uppercase;
    align-self: center;
  }
 
}
.header__grid__item-xs-12{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:0 0 100%;
}
.work__header,.post__header,.contact__header{
  background-color:darken(map-get($colors,primary-color),20%);
  color:darken(map-get($colors,font-color),40%);
  font-size: map-get($font-sizes,font-size-xs);
 
 
 
}

.work__body__header{
  width: 100%;
  padding-top: 1em;
  
  
  p{
    text-align: justify;
    line-height: 1.5em;
    perspective: 1000px;
    position: relative;
    padding-left: .3em;
    padding-right: .3em;
    a{
      text-decoration: none;
     
      position: relative;
    }
    strong{
      color:darken(map-get($colors,accent-color),1%);
      
      font-size:.8em;
      padding: .1em .1em;
      font-weight: bolder;
      
      text-transform: uppercase;
      position: relative;
      &:hover{
        // background-color: darken(map-get($colors,font-color),4%);
        color:darken(map-get($colors,primary-color),30%);
        transition: all 300ms ease-in-out;
      }
     
    }
  }
}
.work .work__body__grid{
  
  .work__body__grid__item{
    position: relative;

  
    img{
      width: 100%;
      height: 24vh;
     } 
}
}
.work{
  width: 100%;
  
 perspective: 1000px;
  .project__thumbnail__container{
    height: 20vh;
  }
  .project__thumbnail__img {
    height: 20vh;
    width: 100%;
  }
  .project{
    box-shadow: 2px 2px 2px darken(map-get($colors, bg-color), 20%);
    //animation the project item when hover
    perspective: 10000px;
  
    position: relative;    
   
    .project__thumbnail__button{
      position: absolute;
      padding: .2em;
      bottom: 0;
      right: 0;
      color:darken(map-get($colors,font-color),40%);
      background-color:map-get($colors, primary-color);
      text-decoration: none;
      &:hover{
        color: map-get($colors, font-color);
        background-color:map-get($colors, primary-color);
        transition: all 300ms ease-in-out;
      }
    }
  }
  .project-title{
    padding:.4em .5em;
    color:darken(map-get($colors, font-color), 50%);

  }
  .project__desc,.hover{
    transform-origin: top center;
    background-color: lighten(map-get($colors,bg-color),4%);
    padding:.4em .5em;
    color:darken(map-get($colors,font-color),50%);
    position: relative;
    height: 18vh;
    overflow: hidden;
    p{
      font-size: .9em;   
      padding: .2em;   
      
    
    }
  }
.project__desc{
  opacity: .8;
    transition:  opacity .3s ease-in-out
  }
  .hover {
    opacity: 1;
    box-shadow: -4px 2px 10px  darken(map-get($colors, bg-color), 16%);
    transition: box-shadow opacity .3s .5s ease-in;

  }

}
/* GRID FOR WORK */
.footer__grid__row{
  display: flex;
}
.about__grid__row{
display: flex;
flex-direction: column;
// align-content: center;
align-items: center;
}
.work__body__grid .grid__row{
  display: grid;
  grid-column-gap: .5em;
  grid-row-gap: 2em;
  width: 0vw;
  grid-template-columns: [first-column] 18vw [column1-end_column2-start] 60vw [column2-end_column3-start] 18vw [column3-end];
  grid-template-rows:[row1-start] auto [row1-end_row2-start] auto [row2-end_row3-start] auto [row3-end_row4-start] auto [row4-end] auto;
  .project{
    grid-column-start: column1-end_column2-start;
    grid-column-end: column2-end_column3-start;
  }
}



/*
  BLOG
*/ 
//header styling
.blog__body{
  
  /* BLOG GRID*/
  .grid__row{
     display: grid;
     grid-template-columns: [first-column] 22vw [column1-end_column2-start] 55vw [column2-end_column3-start] 22vw [column3-end];
     grid-template-rows:[row1-start] auto [row1-end_row2-start] auto [row2-end_row3-start] auto [rows-end] 10vh;
     grid-row-gap: 2em;
     .post{
          //styling
      background-color: map-get($colors, bg-color);
      box-shadow: 2px 2px 2px darken(map-get($colors, bg-color), 20%);
      grid-column-start: column1-end_column2-start;
      grid-column-end: column2-end_column3-start;
     }
  }
    .post__body{
    perspective: 1000px;
  }
  width:100%;
  .post__body__grid__item-xs-12{
    padding: 3vw;
    margin: .75vw;

  }
  //flex for the blog content header
  .post__body__thumbnail{
    // background: linear-gradient(to right ,darken(map-get($colors,font-color),21%) 20%,darken(map-get($colors,accent-color),21%)) ;
    position: relative; 
    display: flex;
    flex-flow: row ;
    
    .post__body__thumbnail__img{
      flex: 0 0 calc(14% - 3em);
    }
    .post__body__content__header{
      flex: 0 0 calc(86% - 3em);
      
    }
  }
}
.post__inner__body{
  padding: .8em .6em;
  //styling the content header
  .post__body__content__header{
    margin-bottom: 1.1em;
    padding: .8em 0em .9em .3em;
   
    
    
    a{
      text-decoration: none;
      color: darken(map-get($colors,font-color),40%);
      font-size: 1.6em;
      transition: color 200ms ease-in-out;
      &:hover{
        color:map-get($colors,accent-color);
        transition: color 200ms ease-in-out;
      }
    }
    small{
      color: lighten(map-get($colors,font-color),20%);
    }
    
  }
  .post__body__content__body{
    // overflow: hidden;
    p{
      font-size: .9em;
      padding :.2em .5em .2em .5em; 
      a{
        text-decoration: none;
     
      color:map-get($colors,accent-color);
      font-size: 1.1em;
      transition: color 200ms ease-in-out;
      &:hover{
        color: darken(map-get($colors,font-color),40%);
        transition: color 200ms ease-in-out;
      }
      }
    }
  }
  .post__body__thumbnail__img{
    
    
    img{
     width: 100%;
     max-width: 9em;
     min-width: 6em;
     height: 100%;
     max-height: 7em;
     min-height: 5em;
    //  float: left;
    //  shape-outside: square(50%);
    }
    
  }
}
/*CONTACT STYLING*/
.contact{
 .grid__row{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
}
/* 1- FLEX BOX FOR CONTACT*/

.contact__body__inner{
  margin: 0 auto;
  padding: 2em  0em 2em 0em;
}
.contact__body__grid__item-xs-12{
  flex: 0 0 100%;
    

  input{
   
    width: 90vw;
    height: 10vh;
    margin-bottom: 1em;

  }
  textarea{
    width: 90vw;
    height: 30vh;
    margin-bottom: 1em;
    
  }
}
.contact__body__form__controls{
  display: flex;
  input{
    flex: 0 0 50%;
    background-color: darken(map-get($colors,primary-color),21%);
    color:darken(map-get($colors,font-color),40%);
    padding: .5em 0em .5em 0em;
    border: 1px solid darken(map-get($colors,primary-color),30%);
    transform: scale(1);
    transition: all 250ms ease-in-out;
    
    &:hover,
    &:active,
    &:focus{
    background-color: darken(map-get($colors,accent-color),1%);
    color: darken(map-get($colors,primary-color),21%);
    padding: .5em 0em .5em 0em;
    border: 1px solid darken(map-get($colors,accent-color),30%);
    transform: scale(.9);
    transition: all 250ms ease-in-out;
    }
    
  }
}
footer{
  width: 98%;
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
  // width: 100%;
  z-index: -1;
  margin-top: 0em;
  color:darken(map-get($colors,primary-color),23%);
  .grid__row{
    margin-left:-.5em;
    margin-right:-.5em; 
    margin-bottom: -.5em;
  }
  .social__grid{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .footer__grid__item-xs-6{
   
    flex: 0 0 100%;
    .footer__inner{
      height: 8em;
      margin: 0 auto;
      background-color: map-get($colors,accent-color);
      p{
        text-align: center;
        padding-top: 1em;
        color: darken(map-get($colors,font-color),40%);
        
      }
      .footer__inner__social{
        margin-top: 1em;
        
        padding-bottom: .1em;
        
        a{
          position: relative;
          text-decoration: nane;
          color: darken(map-get($colors,font-color),40%);
          transition: all 200ms ease-in-out;          
          &:hover{
            &:nth-child(1){
              &::before{
                content:'Behance';
                text-align: center;
                position: absolute;
                bottom: -1.5em;
                left:-.5em;  
                margin: 0 auto;
                color: darken(map-get($colors,font-color),40%);
                
                transition: all 0ms 200ms ease-in-out;
              
            
            }
            }
            &:nth-child(2){
              &::before{
                content:'Facebook';
                text-align: center;
                position: absolute;
                bottom: -1.5em;
                left:-1.4em;  
                margin: 0 auto;
                color: darken(map-get($colors,font-color),40%);
                
                transition: all 0ms 200ms ease-in-out;
              
            
            }
            }
            &:nth-child(3){
              &::before{
                content:'Twitter';
                text-align: center;
                position: absolute;
                bottom: -1.5em;
                left:-.6em;  
                margin: 0 auto;
                color: darken(map-get($colors,font-color),40%);
                
                transition: all 0ms 200ms ease-in-out;
              
            
            }
            }
            &:nth-child(4){
              &::before{
                content:'Gmail';
                text-align: center;
                position: absolute;
                bottom: -1.5em;
                left:-.5em;  
                margin: 0 auto;
                color: darken(map-get($colors,font-color),40%);
                
                transition: all 0ms 200ms ease-in-out;
              
            
            }
            }
            &:nth-child(5){
              &::before{
                content:'LinkedIn';
                text-align: center;
                position: absolute;
                bottom: -1.5em;
                left:-.7em;  
                margin: 0 auto;
                color: darken(map-get($colors,font-color),40%);
                
                transition: all 0ms 200ms ease-in-out;
              
            
            }
            }
           
            color:darken(map-get($colors,primary-color),20%);
            transition: all 0ms 200ms ease-in-out;
           
          }
        }
        
        }
        
      }
    }
  }

