/* LOGO ANIMATIONS*/
/* animating the logo  */ 
// ANIMATING ...
  .logo
  {

    perspective: 1000px;
     // RECT ANIMATION 
     rect
     {
        animation : moveRectBAck 2s ease-in forwards 
      }
    //initila styling for the animation of teh svg
        .l-name:not(:first-child)
        { 
           @for $i from 2 through 11
           {
              path,
              polyline,
              line,
              polygon
              {
                &:nth-child(#{$i})
                  {
                    transform: translateY(-9em);
                    opacity:0;
                  }
   
  
              }
            }
  
            path
            {
              &:nth-of-type(1)
              {
                transform: translateX(0em);
              }
            }
        } 

        .f-name
        { 
          @for $i from 1 through 6
          {
            path,
            polyline,
            line
            {
              &:nth-child(#{$i})
              {
                transform: translateX(0em);
                opacity:0;
              }
            }
          }
        }

    //CAME BACK ANIMATION
        .f-name
        {
          animation: move__f_name_back-out 200ms ease forwards;
          polyline:nth-child(1)
          {
            animation: last__name__letters-animate-out 100ms ease backwards ;
          }
          @for $i from 2 through 6
          {
            path,
            polyline 
            {
              &:nth-child(#{$i})
              {
                animation: last__name__letters-animate-out 30ms ease backwards  ; 
                animation-delay: ( 30ms * $i ) - 30;
              }
            }
          }
         
        }


        polygon:first-of-type
        {
          animation:  shrink__first__letter-out 200ms ease-in-out forwards;
        }
        .l-name
        {
          //ANIMATION OUT LOOP HERE FOR L-NAME
          @for $i from 2 through 11
          {
            path:not(:first-child),
            polyline,
            line,
            polygon
            {
              &:nth-child(#{$i})
              {
                animation: last__name__letters-animate-out 30ms ease backwards  ; 
                animation-delay: ( 30ms * $i ) - 30;
              }
            }
          }

         
        } 
    &:hover,
    &:focus,
    &:active
    {   
      
      // RECT ANIMATION 
      rect
      {
        transform-origin:center center;
        animation : removeRect 300ms ease-in forwards ;
      }
        // FIRST NAME ANIMATION  
      polygon:first-of-type
      {
        animation:  shrink__first__letter 200ms ease-in-out forwards;
      }
      .f-name
      {  
        animation: move__f_name_back 200ms ease forwards;  
      }
      .f-name polyline:nth-child(1)
      {
        animation: last__name__letters-animate 100ms ease forwards alternate ;
      } 
      //  NAME ANIMATION
      @for $i from 2 through 11
      {
        path:not(:first-child),
        polyline,
        line,
        polygon
        {
          &:nth-child(#{$i})
          {
            animation: last__name__letters-animate 30ms ease forwards alternate ; 
            animation-delay: ( 30ms * $i ) - 30;
          }
        }
      }
    }
  }

  /*--- MENU BUTTON ANIMATION ----*/
  // MENU BUTTON ANIMATIONS
.menu
{
  
  width:5%;
  perspective:1000px;
  //init
  perspective:1000px;
  line
  {
     &:nth-of-type(1)
    {
      stroke-dasharray:50;
      stroke-dashoffset:20;
      
      
    }
    &:nth-of-type(2)
    {

      stroke-dasharray:60;
      stroke-dashoffset:25;
    }
    &:nth-of-type(3)
    {
      stroke-dasharray:70;
      stroke-dashoffset:30;
    }
  } 
    &:hover,
    &:focus,
    &:active
    {
      .menu-bars
      {
         perspective:1000px;
        line
        {
           &:nth-of-type(1)
          {
            animation: bar-animate 300ms linear forwards alternate infinite; 
            stroke-dasharray:50;
            stroke-dashoffset:20;
            
          }
          &:nth-of-type(2)
          {
   
            animation:bar-animate 300ms linear forwards alternate; 
            stroke-dasharray:60;
            stroke-dashoffset:25;
          }
          &:nth-of-type(3)
          {
            animation: bar-animate 300ms linear forwards alternate; 
            stroke-dasharray:70;
            stroke-dashoffset:30;
          }
        }   
      }
    }
}